body {
  background-color: #fff;
  color: #333;
  margin: 28px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 20px;
}

table, td, th {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height: 27px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

.lined {
  float:left;
  width:100%;
  border-top: 1px solid #333;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

ul, li {
  color: blue;
}

th {
  background-color: lightgrey;
}

tr:hover {background-color:yellow;}

table {
  width: 100%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style-type: none;
  }
}
  
  p {
    font-size: 20px;
  }

label {
  display: block;
}
